server {
    listen 80;
    server_name {{www_domain}};
    root   {{www_document_root}};

    client_max_body_size 50M;

    access_log  /var/log/nginx/{{www_domain}}.access.log;
    error_log  /var/log/nginx/{{www_domain}}.error.log error;

    # strip index.php/ prefix if it is present
    rewrite ^/index\.php/?(.*)$ /$1 permanent;

    location / {
        index index.php;
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /index.php/$1 last;
    }

    location ~ ^/index\.php(/|$) {
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_intercept_errors on;
    }
}